*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

:root{
    --bg-color-1: #A56A1D;
    --gap-1: 10px;
    --gap-2: 16px;
    --padding-1: 16px;
    --padding-2: 24px;
    --content-max-width: 960px;
}

header,
section,
footer{
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

header{
    background-color: var(--bg-color-1);
}

header > div{
    padding: var(--padding-1);
    width: var(--content-max-width);
    justify-content: space-between;
}

header .flex-row{
    gap: var(--gap-2);
}