*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --bg-color-1: #1F2937;
    --bg-color-2: #E5E7Eb;
    --gap-1: 10px;
    --gap-2: 16px;
    --gap-3: 24px;
    --padding-1: 16px;
    --padding-2: 24px;
    --content-max-width: 1280px;
    --header-font-color: #F9FAF8;
    --small-text-color: #d0d0d0;
    --coffee-brown: #694e3f;
}

body{
    font-family:monospace;
}

/* global classes */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    
    padding: 8px 24px;
    border-radius: 5px;
    border: 2px solid var(--coffee-brown);

    color: var(--bg-color-1);
    font-weight: bold;
}

.logo{
    font-size: 24px;
    color: var(--header-font-color);
    text-shadow: 0px 0px 0px var(--header-font-color);
}

.small-text-white{
    font-size: 12px;
    color: var(--small-text-color);
    text-shadow: 0px 0px 0px var(--small-text-color);
}

.small-text-dark{
    font-size: 12px;
    color: #3c4755;
    text-shadow: 0px 0px 0px #2b333d;
}

.large-text-white{
    font-size: 40px;
    font-weight: 900;
    color: var(--header-font-color);
}

.large-text-dark{
    font-size: 28px;
    color: #3c4755;
    text-shadow: 0px 0px 0px var(--bg-color-1);
}

.large-text-dark-2{
    font-size: 28px;
    color: var(--bg-color-1);
    font-weight: 300;
    font-style: italic;
}

.center{
    text-align: center;
}

/* grouping styles */

header,
section,
footer{
    justify-content: center;
}

header,
footer,
.hero{
    background-color: var(--bg-color-1);
}

header > div,
.hero > div,
.info > div,
.quote > div,
.sign-up > div,
footer > div{
    padding: var(--padding-2);
    width: var(--content-max-width);
    align-items: center;
}

header > div,
.hero > div{
    justify-content: space-between;
}

.hero > div,
.info > div,
.quote > div{
    min-height: 65vh;
}

/* specific styles */

/* nav bar */

header nav .flex-row{
    width: 450px;
    justify-content: space-between;
}

/* hero */

.hero-left-text{    
    align-self: stretch;
    width: 450px;

    gap: var(--gap-2);
    justify-content: center;
    align-items: flex-start;
}

.hero-img{
    border-radius: 5px;
    border: 2px solid var(--coffee-brown);
}

/* information */

.info .flex-column{
    justify-content: center;
    gap: calc(var(--gap-3) * 2);
}

.info .flex-row{
    align-self: stretch;
    justify-content: space-between;
}

.info .flex-row div{
    flex-basis: 0;
}

.info img{
    border-radius: 3px;
    box-shadow: 0px 0px 10px var(--coffee-brown);
    margin-bottom: 8px;
}

.info .flex-row p{
    text-align: justify;
    text-align-last: center;
}

/* quote */

.quote{
    background-color: var(--bg-color-2);
}

.quote div{
    width: calc(var(--content-max-width) - 16%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.quote p{
    text-align: justify;
}

.quote h4{
    font-size: 20px;
    text-align: right;
    padding-top: 10px;
}

/* sign-up */

.sign-up{
    min-height: 40vh;
    align-items: center;
}

.sign-up > div{
    background-color: #674736;
    justify-content: space-evenly;
    border-radius: 10px;
}

.sign-up .flex-row div{
    width: 600px;
    gap: 4px;
}

.sign-up h3{
    font-size: 16px;
}

.sign-up p{
    font-size: 14px;
}

.sign-up button{
    color: var(--small-text-color);
    background-color: var(--coffee-brown);
    border: 2px solid var(--small-text-color);
}

/* footer */

footer .small-text-white{
    text-align: center;
}