*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --bg-color-1: #1F2937;
    --gap-1: 10px;
    --gap-2: 16px;
    --gap-3: 24px;
    --padding-1: 16px;
    --padding-2: 24px;
    --content-max-width: 1280px;
    --header-font-color: #F9FAF8;
    --small-text-color: #d0d0d0;
}

body{
    font-family:monospace;
}

/* global classes */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    
    padding: 8px 24px;
    border-radius: 5px;

    color: var(--bg-color-1);
    font-weight: bold;
}

.logo{
    font-size: 24px;
    color: var(--header-font-color);
    text-shadow: 0px 0px 0px var(--header-font-color);
}

.small-text-white{
    font-size: 12px;
    color: var(--small-text-color);
    text-shadow: 0px 0px 0px var(--small-text-color);
}

.small-text-dark{
    font-size: 12px;
    color: var(--bg-color-1);
    text-shadow: 0px 0px 0px var(--bg-color-1);
}

.large-text-white{
    font-size: 40px;
    font-weight: 900;
    color: var(--header-font-color);
}

/* grouping styles */

header,
section,
footer{
    justify-content: center;
}

header,
footer,
.hero{
    background-color: var(--bg-color-1);
}

header > div,
.hero > div,
.info > div,
.quote > div,
.sign-up > div,
footer > div{
    padding: var(--padding-2);
    width: var(--content-max-width);
    align-items: center;
}

header > div,
.hero > div{
    justify-content: space-between;
}

.hero > div,
.info > div,
.quote > div{
    height: 80vh;
}

/* specific styles */

/* nav bar */

header nav .flex-row{
    width: 450px;
    justify-content: space-between;
}

/* hero */

.hero-left-text{    
    align-self: stretch;    
    width: 450px;

    gap: var(--gap-2);
    justify-content: center;
    align-items: flex-start;
}

.hero-img{
    border-radius: 5px;
    border: 2px solid var(--small-text-color);
}